<!DOCTYPE html>
<html>
<head>
  <title>ZurbMothership</title>
  <%= stylesheet_link_tag    "zurb_mothership/application", :media => "all" %>
  <%= javascript_include_tag "zurb_mothership/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
